@font-face {
    font-family: 'MyFont';
    src: url('/static/fonts/myfont.woff2') format('woff2'),
         url('/static/fonts/myfont.woff') format('woff'),
         url('/static/fonts/myfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'MyFont', sans-serif;
}
