<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>綠界付款模擬</title>
</head>
<body>
    <h3>即將導向綠界付款頁面...</h3>

    <!-- 真正跳轉到綠界付款頁面 -->
    <form id="ecpayForm" method="post" action="{{ action_url }}">
        {% for k, v in final_params.items %}
            <input type="hidden" name="{{ k }}" value="{{ v }}">
        {% endfor %}
        <input type="hidden" name="ClientBackURL" value="http://127.0.0.1:8000/store/upload-ad/?status=success">
    </form>


    <script>
        // 自動送出表單到綠界
        document.getElementById("ecpayForm").submit();
    </script>
</body>
</html>






<!-- <!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>綠界付款模擬</title>
</head>
<body>
    <h3>即將導向綠界付款頁面...</h3>
    <form id="ecpayForm" method="post" action="{{ action_url }}">
        {% for k, v in final_params.items %}
            <input type="hidden" name="{{ k }}" value="{{ v }}">
        {% endfor %}
    </form>
    <script>
        document.getElementById("ecpayForm").submit();
    </script>
</body>
</html> -->
